<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LyricsEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <LyricsEngine.Properties.Settings>
        <setting name="LyricsEngine_org_lyricwiki_LyricWiki" serializeAs="String">
          <value>http://lyricwiki.org/server.php</value>
        </setting>
        <setting name="Google_GoogleSearchService" serializeAs="String">
          <value>http://api.google.com/search/beta2</value>
        </setting>
        <setting name="MyLyrics_Google_GoogleSearchService" serializeAs="String">
          <value>http://api.google.com/search/beta2</value>
        </setting>
        <setting name="LyricsEngine_lrcfinder1_LrcFinder" serializeAs="String">
          <value>http://lrcfinder.profiler.nl/LrcFinder.asmx</value>
        </setting>
      </LyricsEngine.Properties.Settings>
    </applicationSettings>
</configuration>