<?xml version="1.0" encoding="utf-8"?>
<config>
  <!-- 
	Setting Portable to "1" allows to run the application from a USB stick 
    All Settings are stored in <ApplicationStartupPath>\Config folder
	The Log is written to the <ApplicationStartupPath>\Logs folder
  -->
  <portable>0</portable>
  
  <!--
	The following Parameter controls how many songs will be held in memory.
	If this mark is reached, the songs will be stored in a temporary database to prevent Out of Memory issues on large collections
  -->
  <MaximumNumberOfSongsInList>200</MaximumNumberOfSongsInList>
</config>